@charset "utf-8";
*{margin: 0;padding: 0;box-size:border-box;}
#topnav{
    background:#F5F5F5 ;
}
// header头部
#header{
    width: 100%;
    height: 150px;
    border-bottom:0px;
    .header{
        height: 150px;
        .header_logo{
            width: 260px;
            height: 150px;
            margin:0;
            a{
                display:block;
                width: 260px;
                height:60px;
                margin: 52px 0 0 0;
                img{
                    width: 230px;
                    height:60px;
                }
            }
        }
        .search{
            width: 500px;
            height: 110px;
            padding-top:40px;
            margin:0 0 0 110px;
            .hot-recommended {
                line-height: 1;
                margin: 0;
                padding: 0;
                border: 0;
                overflow: hidden;
                margin-bottom: 7px;
                li{
                    float: left;
                    padding:0 5px;
                    font-size:13px;
                    color:#555555;
                    border-right: 1px solid #999;
                    a{
                        display:block;
                        color:#555555;
                    }
                }
            }
            form{
                width: 500px;
                height: 40px;
                border:2px solid #BC338B;
                position:relative;
                z-index:1002;
                .search_l{
                    position: absolute;
                    top:0;
                    left:0;                    
                    z-index: 10;
                    width: 83px;
                    height: 36px;
                    clear:both;
                    #search_select{
                        width: 83px;
                        height: 36px;
                        font-size: 16px;
                        border:1px solid #BC338B;
                        z-index:1003;
                        background: #FFFFFF;
                        padding-left: 12px;
                        line-height: 36px;
                        color:black;
                        &.active{
                            border:1px solid #BC338B;
                            
                        }
                        option{
                           // color:#BC338B;
                            background: #FFFFFF;
                            &:hover{
                                background: #FFFFFF;
                                color:#BC338B;
                            }
                        }
                    }   
                }
                .search_c{
                    outline: none;
                    width: 313px;
                    height: 36px;
                    line-height: 36px;
                    font-size: 15px;
                    padding:0 5px;
                    color: #999;
                    background: #FFFFFF;
                    margin-left: 83px;
                    
                }
                .search_r{
                    box-sizing: border-box;
                    outline: none;
                    width: 100px;
                    height: 36px;
                    background: #bc338b;
                    color: #fff;
                    font-size: 18px;
                    letter-spacing: 5px;
                }
            }
        } 
        .cart{
                height: 40px;
                margin-left: 10px;
                width: 150px;
                border: none;
                background-color: #bc338b;
                margin-top: 58px;
                border: 2px solid #eee;
                .cart_item{
                    width: 200px;
                    height: 36px;
                    background: url(../img/shop_pic/receipt1.png) 15px center no-repeat;
                }
                
        }
        .shujubao{
            height: 40px;
            margin-left: 10px;
            width: 150px;
            border: none;
            background-color: #1c3a8b;
            margin-top: 58px;
        }

    }
}
// nav{
//     width: 100%;
//     height:38px; 
//     border-bottom:2px solid #BC338B;
//     .nav{
//         // width: 100%;
//         height: 38px;
//         .nav_dl{
//             width: 240px;
//             position:relative;
//             dt{
//                 height: 36px;
//                 color: #fff;
//                 font-size: 16px;
//                 padding-left: 13px;
//                 line-height: 38px;
//                 i{  
//                     margin-top:10px;
//                     display:inline-block;
//                     width: 21px;
//                     height: 16px;
//                     background: red;
//                     margin-right: 11px
//                 }
//                 span{
//                     float:left;
//                     display: inline-block;
//                     vertical-align: middle;
//                     font-size: 18px;

//                 }
//                 .nav_subTit{
//                     height: 30px;
//                     font-size:12px;
//                     margin-left: 12px;
//                     margin-top:4px;
//                 }
//                 a:hover{
//                     color: #fff;
//                     background: #bc338b;
//                 }
//             }
//         }
//     }
// }

/*nav*/
%nav3{
    display:none;
    position:absolute;
    top:0;
    left:240px;
    width: 793px;
    height: 400px;
    background: #FFFFFF;
    z-index:2000;
    padding-top: 10px;
}
%PM{
    margin:0 33px;
    padding: 15px 12px;
    box-sizing: border-box;
}
%img-icon{
    position: absolute;
    left:16px;
    // width: 17px;
    // height: 20px;
}
// %f14{
//     font-size:14px;
// }
@mixin setwh($w,$h){
    width: $w;
    height:$h;
}
nav{
    width: 100%;
    height:38px; 
    border-bottom:2px solid #BC338B;   
    .nav{
        height: 38px;
        .nav_l{
            &>li{
                position:relative;
                float:left;
                &>a{
                    display:block;
                    width: 111px;
                    height: 36px;
                    font-size: 16px;
                    color:black;
                    line-height: 38px;
                    text-align:center;
                    &:hover{
                        color:#BC338B;
                    }
                }
            }
            li:nth-child(1):hover{
                .nav2{
                    display:block;
                }
            }    
            i{  
                display:inline-block;
                width: 21px;
                height: 16px;
                background: red;
                margin:10px 11px 0 8px;
            }
            span{
                float:left;
                display: inline-block;
                vertical-align: middle;
                font-size: 18px;
                color:#FFFFFF;

            }
            .nav_subTit{
                height: 30px;
                font-size:12px;
                margin-left: 12px;
                margin-top:4px;
            }
            &>a:hover{
                color: #fff;
                background: #bc338b;
            }
            .nav2{
                position:absolute;
                top:40px;
                width: 240px;
                height: 400px;
                background: #183b8c;
                z-index:100;
                .nav2_t{   
                    @include setwh(240px,156px);       
                    .nav2_t_div{
                        @include setwh(174px,156px);
                        @extend %PM;
                        img{
                            @extend %img-icon;
                        }    
                        a{
                            color:#FFFFFF;
                            font-size:14px;
                        }
                        .nav2_t_div_a{
                            font-size:16px;
                        }
                        .nav2_t_div_span{
                            margin-top: 12px;
                            .span_a{
                                display:block;
                                float:left;
                                height:20px;
                                line-height: 20px;
                                margin-bottom: 4px;
                                padding-right: 20px;
                            }
                        }

                    }
                    .nav3_t{
                        @extend %nav3;

                    }
                    &:hover{
                        background: #FFFFFF;
                        a{
                            color:#183b8c;
                        } 
                        .nav3_t{
                            display:block;
                            .nav3_tbox{
                                .nav3_tbox_l{
                                    width:470px;
                                    height: 400px;
                                    .nav_box {
                                        margin: 2px 0px 10px 14px;
                                        width: 47%;
                                        float: left;
                                        min-height: 192px;
                                        h4{
                                            height: 30px;
                                            line-height: 30px;
                                            font-size:14px;
                                            margin-left: 6px;
                                        }
                                        li{
                                            float: left;
                                            width: 60px;
                                            height: 20px;
                                            font-size: 12px;
                                            color: gray;
                                            margin: 4px;
                                            line-height: 20px;
                                            text-align: center;
                                            border: 1px dashed gainsboro;
                                            a{
                                                display:block;
                                                height:15px;
                                                color: inherit;
                                            }
                                        }
                                    } 
                                }  
                                .nav3_tbox_r{
                                    width:277px;
                                    height: 400px;
                                    &>div{
                                        height: 200px;
                                        h4{
                                            height: 30px;
                                            line-height: 30px;
                                            font-size:14px;
                                            margin-left: 6px; 
                                        }
                                        a{
                                            float:left;
                                            margin-left: 4px;
                                            img{
                                                width: 240px;
                                                height: 120px;
                                            }
                                        }
                                    }
                                }   
                            }
                        }
                    }
                }       
                .nav2_c{
                    @include setwh(240px,133px);
                    .nav2_c_div{
                        @include setwh(174px,133px);
                        @extend %PM; 
                        img{
                            @extend %img-icon;
                        }      
                        a{
                            color:#FFFFFF;
                            font-size:14px;
                        } 
                        .nav2_c_div_a{
                            font-size:16px;
                        }  
                        .nav2_c_div_span{
                            margin-top: 12px;
                            .span_a{
                                display:block;
                                float:left;
                                height:20px;
                                line-height: 20px;
                                margin-bottom: 4px;
                                padding-right: 20px;
                            }
                        }
           
                    }
                    .nav3_c{
                        @extend %nav3;
                    }
                    &:hover{
                        background: #FFFFFF;
                        a{
                            color:#183b8c;
                        }  
                        .nav3_c{
                            display:block;
                            .nav3_tbox{
                                .nav3_tbox_l{
                                    width:470px;
                                    height: 400px;
                                    .nav_box {
                                        margin: 2px 0px 10px 14px;
                                        width: 47%;
                                        float: left;
                                        min-height: 192px;
                                        h4{
                                            height: 30px;
                                            line-height: 30px;
                                            font-size:14px;
                                            margin-left: 6px;
                                        }
                                        li{
                                            float: left;
                                            width: 60px;
                                            height: 20px;
                                            font-size: 12px;
                                            color: gray;
                                            margin: 4px;
                                            line-height: 20px;
                                            text-align: center;
                                            border: 1px dashed gainsboro;
                                            a{
                                                display:block;
                                                height:15px;
                                                color: inherit;
                                            }
                                        }
                                    } 
                                }  
                                .nav3_tbox_r{
                                    width:277px;
                                    height: 400px;
                                    &>div{
                                        height: 200px;
                                        h4{
                                            height: 30px;
                                            line-height: 30px;
                                            font-size:14px;
                                            margin-left: 6px; 
                                        }
                                        a{
                                            float:left;
                                            margin-left: 4px;
                                            img{
                                                width: 240px;
                                                height: 120px;
                                            }
                                        }
                                    }
                                }   
                            }
                        }
                    }
                }
                .nav2_b{
                    @include setwh(240px,109px);
                    .nav2_b_div{
                        @include setwh(174px,109px);
                        @extend %PM;
                        img{
                            @extend %img-icon;
                        }  
                        a{
                            color:#FFFFFF;
                            font-size:14px;
                        } 
                        .nav2_b_div_a{
                            font-size:16px;
                        }
                        .nav2_b_div_span{
                            margin-top: 12px;
                            .span_a{
                                display:block;
                                float:left;
                                height:20px;
                                line-height: 20px;
                                margin-bottom: 4px;
                                padding-right: 18px;
                            }
                        }
                    }
                    .nav3_b{
                        @extend %nav3;
                    }
                    &:hover{
                        background: #FFFFFF;
                        a{
                            color:#183b8c;
                        } 
                        .nav3_b{
                            display:block;
                            .nav3_tbox{
                                .nav3_tbox_l{
                                    width:470px;
                                    height: 400px;
                                    .nav_box {
                                        margin: 2px 0px 10px 14px;
                                        width: 47%;
                                        float: left;
                                        min-height: 192px;
                                        h4{
                                            height: 30px;
                                            line-height: 30px;
                                            font-size:14px;
                                            margin-left: 6px;
                                        }
                                        li{
                                            float: left;
                                            width: 60px;
                                            height: 20px;
                                            font-size: 12px;
                                            color: gray;
                                            margin: 4px;
                                            line-height: 20px;
                                            text-align: center;
                                            border: 1px dashed gainsboro;
                                            a{
                                                display:block;
                                                height:15px;
                                                color: inherit;
                                            }
                                        }
                                    } 
                                }  
                                .nav3_tbox_r{
                                    width:277px;
                                    height: 400px;
                                    &>div{
                                        height: 200px;
                                        h4{
                                            height: 30px;
                                            line-height: 30px;
                                            font-size:14px;
                                            margin-left: 6px; 
                                        }
                                        a{
                                            float:left;
                                            margin-left: 4px;
                                            img{
                                                width: 240px;
                                                height: 120px;
                                            }
                                        }
                                    }
                                }   
                            }
                        }
                    }
                }
            }
        }
    }
}


// 右边导航栏
.nav_r{
    width: 210px;
    height: 36px;
}

.nav_r li{
    float:left;  
    position:relative;
    width: 56px;
    height: 36px;
    margin-left: 10px;
}
.nav_r a{
    display:block;
    height: 36px;
    font-size: 14px;
    color:black;
    line-height: 38px;
}



main{
    width: 100%;
    height: 2000px;
    background: orange;
    .main{
        position: relative;
        
        .login_box{
            position:absolute;
            top:-400px;
            right:-43px;
            width: 210px;
            height: 400px;
            background: blue;
            z-index:300;

        }
    } 
}