* {
  margin: 0;
  padding: 0;
  box-size: border-box;
}

#topnav {
  background: #F5F5F5;
}

#header {
  width: 100%;
  height: 150px;
  border-bottom: 0px;
}
#header .header {
  height: 150px;
}
#header .header .header_logo {
  width: 260px;
  height: 150px;
  margin: 0;
}
#header .header .header_logo a {
  display: block;
  width: 260px;
  height: 60px;
  margin: 52px 0 0 0;
}
#header .header .header_logo a img {
  width: 230px;
  height: 60px;
}
#header .header .search {
  width: 500px;
  height: 110px;
  padding-top: 40px;
  margin: 0 0 0 110px;
}
#header .header .search .hot-recommended {
  line-height: 1;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  margin-bottom: 7px;
}
#header .header .search .hot-recommended li {
  float: left;
  padding: 0 5px;
  font-size: 13px;
  color: #555555;
  border-right: 1px solid #999;
}
#header .header .search .hot-recommended li a {
  display: block;
  color: #555555;
}
#header .header .search form {
  width: 500px;
  height: 40px;
  border: 2px solid #BC338B;
  position: relative;
  z-index: 1002;
}
#header .header .search form .search_l {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 83px;
  height: 36px;
  clear: both;
}
#header .header .search form .search_l #search_select {
  width: 83px;
  height: 36px;
  font-size: 16px;
  border: 1px solid #BC338B;
  z-index: 1003;
  background: #FFFFFF;
  padding-left: 12px;
  line-height: 36px;
  color: black;
}
#header .header .search form .search_l #search_select.active {
  border: 1px solid #BC338B;
}
#header .header .search form .search_l #search_select option {
  background: #FFFFFF;
}
#header .header .search form .search_l #search_select option:hover {
  background: #FFFFFF;
  color: #BC338B;
}
#header .header .search form .search_c {
  outline: none;
  width: 313px;
  height: 36px;
  line-height: 36px;
  font-size: 15px;
  padding: 0 5px;
  color: #999;
  background: #FFFFFF;
  margin-left: 83px;
}
#header .header .search form .search_r {
  box-sizing: border-box;
  outline: none;
  width: 100px;
  height: 36px;
  background: #bc338b;
  color: #fff;
  font-size: 18px;
  letter-spacing: 5px;
}
#header .header .cart {
  height: 40px;
  margin-left: 10px;
  width: 150px;
  border: none;
  background-color: #bc338b;
  margin-top: 58px;
  border: 2px solid #eee;
}
#header .header .cart .cart_item {
  width: 200px;
  height: 36px;
  background: url(../img/shop_pic/receipt1.png) 15px center no-repeat;
}
#header .header .shujubao {
  height: 40px;
  margin-left: 10px;
  width: 150px;
  border: none;
  background-color: #1c3a8b;
  margin-top: 58px;
}

/*nav*/
nav .nav .nav_l .nav2 .nav2_t .nav3_t, nav .nav .nav_l .nav2 .nav2_c .nav3_c, nav .nav .nav_l .nav2 .nav2_b .nav3_b {
  display: none;
  position: absolute;
  top: 0;
  left: 240px;
  width: 793px;
  height: 400px;
  background: #FFFFFF;
  z-index: 2000;
  padding-top: 10px;
}

nav .nav .nav_l .nav2 .nav2_t .nav2_t_div, nav .nav .nav_l .nav2 .nav2_c .nav2_c_div, nav .nav .nav_l .nav2 .nav2_b .nav2_b_div {
  margin: 0 33px;
  padding: 15px 12px;
  box-sizing: border-box;
}

nav .nav .nav_l .nav2 .nav2_t .nav2_t_div img, nav .nav .nav_l .nav2 .nav2_c .nav2_c_div img, nav .nav .nav_l .nav2 .nav2_b .nav2_b_div img {
  position: absolute;
  left: 16px;
}

nav {
  width: 100%;
  height: 38px;
  border-bottom: 2px solid #BC338B;
}
nav .nav {
  height: 38px;
}
nav .nav .nav_l > li {
  position: relative;
  float: left;
}
nav .nav .nav_l > li > a {
  display: block;
  width: 111px;
  height: 36px;
  font-size: 16px;
  color: black;
  line-height: 38px;
  text-align: center;
}
nav .nav .nav_l > li > a:hover {
  color: #BC338B;
}
nav .nav .nav_l li:nth-child(1):hover .nav2 {
  display: block;
}
nav .nav .nav_l i {
  display: inline-block;
  width: 21px;
  height: 16px;
  background: red;
  margin: 10px 11px 0 8px;
}
nav .nav .nav_l span {
  float: left;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: #FFFFFF;
}
nav .nav .nav_l .nav_subTit {
  height: 30px;
  font-size: 12px;
  margin-left: 12px;
  margin-top: 4px;
}
nav .nav .nav_l > a:hover {
  color: #fff;
  background: #bc338b;
}
nav .nav .nav_l .nav2 {
  position: absolute;
  top: 40px;
  width: 240px;
  height: 400px;
  background: #183b8c;
  z-index: 100;
}
nav .nav .nav_l .nav2 .nav2_t {
  width: 240px;
  height: 156px;
}
nav .nav .nav_l .nav2 .nav2_t .nav2_t_div {
  width: 174px;
  height: 156px;
}
nav .nav .nav_l .nav2 .nav2_t .nav2_t_div a {
  color: #FFFFFF;
  font-size: 14px;
}
nav .nav .nav_l .nav2 .nav2_t .nav2_t_div .nav2_t_div_a {
  font-size: 16px;
}
nav .nav .nav_l .nav2 .nav2_t .nav2_t_div .nav2_t_div_span {
  margin-top: 12px;
}
nav .nav .nav_l .nav2 .nav2_t .nav2_t_div .nav2_t_div_span .span_a {
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
  margin-bottom: 4px;
  padding-right: 20px;
}
nav .nav .nav_l .nav2 .nav2_t:hover {
  background: #FFFFFF;
}
nav .nav .nav_l .nav2 .nav2_t:hover a {
  color: #183b8c;
}
nav .nav .nav_l .nav2 .nav2_t:hover .nav3_t {
  display: block;
}
nav .nav .nav_l .nav2 .nav2_t:hover .nav3_t .nav3_tbox .nav3_tbox_l {
  width: 470px;
  height: 400px;
}
nav .nav .nav_l .nav2 .nav2_t:hover .nav3_t .nav3_tbox .nav3_tbox_l .nav_box {
  margin: 2px 0px 10px 14px;
  width: 47%;
  float: left;
  min-height: 192px;
}
nav .nav .nav_l .nav2 .nav2_t:hover .nav3_t .nav3_tbox .nav3_tbox_l .nav_box h4 {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  margin-left: 6px;
}
nav .nav .nav_l .nav2 .nav2_t:hover .nav3_t .nav3_tbox .nav3_tbox_l .nav_box li {
  float: left;
  width: 60px;
  height: 20px;
  font-size: 12px;
  color: gray;
  margin: 4px;
  line-height: 20px;
  text-align: center;
  border: 1px dashed gainsboro;
}
nav .nav .nav_l .nav2 .nav2_t:hover .nav3_t .nav3_tbox .nav3_tbox_l .nav_box li a {
  display: block;
  height: 15px;
  color: inherit;
}
nav .nav .nav_l .nav2 .nav2_t:hover .nav3_t .nav3_tbox .nav3_tbox_r {
  width: 277px;
  height: 400px;
}
nav .nav .nav_l .nav2 .nav2_t:hover .nav3_t .nav3_tbox .nav3_tbox_r > div {
  height: 200px;
}
nav .nav .nav_l .nav2 .nav2_t:hover .nav3_t .nav3_tbox .nav3_tbox_r > div h4 {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  margin-left: 6px;
}
nav .nav .nav_l .nav2 .nav2_t:hover .nav3_t .nav3_tbox .nav3_tbox_r > div a {
  float: left;
  margin-left: 4px;
}
nav .nav .nav_l .nav2 .nav2_t:hover .nav3_t .nav3_tbox .nav3_tbox_r > div a img {
  width: 240px;
  height: 120px;
}
nav .nav .nav_l .nav2 .nav2_c {
  width: 240px;
  height: 133px;
}
nav .nav .nav_l .nav2 .nav2_c .nav2_c_div {
  width: 174px;
  height: 133px;
}
nav .nav .nav_l .nav2 .nav2_c .nav2_c_div a {
  color: #FFFFFF;
  font-size: 14px;
}
nav .nav .nav_l .nav2 .nav2_c .nav2_c_div .nav2_c_div_a {
  font-size: 16px;
}
nav .nav .nav_l .nav2 .nav2_c .nav2_c_div .nav2_c_div_span {
  margin-top: 12px;
}
nav .nav .nav_l .nav2 .nav2_c .nav2_c_div .nav2_c_div_span .span_a {
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
  margin-bottom: 4px;
  padding-right: 20px;
}
nav .nav .nav_l .nav2 .nav2_c:hover {
  background: #FFFFFF;
}
nav .nav .nav_l .nav2 .nav2_c:hover a {
  color: #183b8c;
}
nav .nav .nav_l .nav2 .nav2_c:hover .nav3_c {
  display: block;
}
nav .nav .nav_l .nav2 .nav2_c:hover .nav3_c .nav3_tbox .nav3_tbox_l {
  width: 470px;
  height: 400px;
}
nav .nav .nav_l .nav2 .nav2_c:hover .nav3_c .nav3_tbox .nav3_tbox_l .nav_box {
  margin: 2px 0px 10px 14px;
  width: 47%;
  float: left;
  min-height: 192px;
}
nav .nav .nav_l .nav2 .nav2_c:hover .nav3_c .nav3_tbox .nav3_tbox_l .nav_box h4 {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  margin-left: 6px;
}
nav .nav .nav_l .nav2 .nav2_c:hover .nav3_c .nav3_tbox .nav3_tbox_l .nav_box li {
  float: left;
  width: 60px;
  height: 20px;
  font-size: 12px;
  color: gray;
  margin: 4px;
  line-height: 20px;
  text-align: center;
  border: 1px dashed gainsboro;
}
nav .nav .nav_l .nav2 .nav2_c:hover .nav3_c .nav3_tbox .nav3_tbox_l .nav_box li a {
  display: block;
  height: 15px;
  color: inherit;
}
nav .nav .nav_l .nav2 .nav2_c:hover .nav3_c .nav3_tbox .nav3_tbox_r {
  width: 277px;
  height: 400px;
}
nav .nav .nav_l .nav2 .nav2_c:hover .nav3_c .nav3_tbox .nav3_tbox_r > div {
  height: 200px;
}
nav .nav .nav_l .nav2 .nav2_c:hover .nav3_c .nav3_tbox .nav3_tbox_r > div h4 {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  margin-left: 6px;
}
nav .nav .nav_l .nav2 .nav2_c:hover .nav3_c .nav3_tbox .nav3_tbox_r > div a {
  float: left;
  margin-left: 4px;
}
nav .nav .nav_l .nav2 .nav2_c:hover .nav3_c .nav3_tbox .nav3_tbox_r > div a img {
  width: 240px;
  height: 120px;
}
nav .nav .nav_l .nav2 .nav2_b {
  width: 240px;
  height: 109px;
}
nav .nav .nav_l .nav2 .nav2_b .nav2_b_div {
  width: 174px;
  height: 109px;
}
nav .nav .nav_l .nav2 .nav2_b .nav2_b_div a {
  color: #FFFFFF;
  font-size: 14px;
}
nav .nav .nav_l .nav2 .nav2_b .nav2_b_div .nav2_b_div_a {
  font-size: 16px;
}
nav .nav .nav_l .nav2 .nav2_b .nav2_b_div .nav2_b_div_span {
  margin-top: 12px;
}
nav .nav .nav_l .nav2 .nav2_b .nav2_b_div .nav2_b_div_span .span_a {
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
  margin-bottom: 4px;
  padding-right: 18px;
}
nav .nav .nav_l .nav2 .nav2_b:hover {
  background: #FFFFFF;
}
nav .nav .nav_l .nav2 .nav2_b:hover a {
  color: #183b8c;
}
nav .nav .nav_l .nav2 .nav2_b:hover .nav3_b {
  display: block;
}
nav .nav .nav_l .nav2 .nav2_b:hover .nav3_b .nav3_tbox .nav3_tbox_l {
  width: 470px;
  height: 400px;
}
nav .nav .nav_l .nav2 .nav2_b:hover .nav3_b .nav3_tbox .nav3_tbox_l .nav_box {
  margin: 2px 0px 10px 14px;
  width: 47%;
  float: left;
  min-height: 192px;
}
nav .nav .nav_l .nav2 .nav2_b:hover .nav3_b .nav3_tbox .nav3_tbox_l .nav_box h4 {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  margin-left: 6px;
}
nav .nav .nav_l .nav2 .nav2_b:hover .nav3_b .nav3_tbox .nav3_tbox_l .nav_box li {
  float: left;
  width: 60px;
  height: 20px;
  font-size: 12px;
  color: gray;
  margin: 4px;
  line-height: 20px;
  text-align: center;
  border: 1px dashed gainsboro;
}
nav .nav .nav_l .nav2 .nav2_b:hover .nav3_b .nav3_tbox .nav3_tbox_l .nav_box li a {
  display: block;
  height: 15px;
  color: inherit;
}
nav .nav .nav_l .nav2 .nav2_b:hover .nav3_b .nav3_tbox .nav3_tbox_r {
  width: 277px;
  height: 400px;
}
nav .nav .nav_l .nav2 .nav2_b:hover .nav3_b .nav3_tbox .nav3_tbox_r > div {
  height: 200px;
}
nav .nav .nav_l .nav2 .nav2_b:hover .nav3_b .nav3_tbox .nav3_tbox_r > div h4 {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  margin-left: 6px;
}
nav .nav .nav_l .nav2 .nav2_b:hover .nav3_b .nav3_tbox .nav3_tbox_r > div a {
  float: left;
  margin-left: 4px;
}
nav .nav .nav_l .nav2 .nav2_b:hover .nav3_b .nav3_tbox .nav3_tbox_r > div a img {
  width: 240px;
  height: 120px;
}

.nav_r {
  width: 210px;
  height: 36px;
}

.nav_r li {
  float: left;
  position: relative;
  width: 56px;
  height: 36px;
  margin-left: 10px;
}

.nav_r a {
  display: block;
  height: 36px;
  font-size: 14px;
  color: black;
  line-height: 38px;
}

main {
  width: 100%;
  height: 2000px;
  background: orange;
}
main .main {
  position: relative;
}
main .main .login_box {
  position: absolute;
  top: -400px;
  right: -43px;
  width: 210px;
  height: 400px;
  background: blue;
  z-index: 300;
}

/*# sourceMappingURL=index.css.map */
