/* 
* @Author: Marte
* @Date:   2019-05-07 23:15:31
* @Last Modified by:   Marte
* @Last Modified time: 2019-05-09 17:39:12
*/
/*header 头部*/
#header{
    width: 100%;
    height: 151px;
    border-bottom: 2px solid #bc338b;
}
.header_logo{
    margin: 52px 0 0 ;
}
