@charset "UTF-8";
/* 
* @Author: Marte
* @Date:   2019-05-07 23:34:08
* @Last Modified by:   Marte
* @Last Modified time: 2019-05-09 15:15:44
*/
/*注册页头部标题*/
.reg_title {
  margin: 78px 0 0 10px; }

/*注册页主要内容区*/
main {
  width: 100%;
  height: 560px;
  background: url(../img/bg/reg_bg_pic.jpg) -235px center no-repeat;
  /*背景图*/
  position: relative; }

/*注册框*/
#regbox {
  position: absolute;
  width: 438px;
  height: 470px;
  background: #FFFFFF;
  top: 36px;
  right: 200px;
  z-index: 100000;
  border: 1px solid #c6c6c6; }
  #regbox #regbox_hd {
    width: 438px;
    height: 40px;
    color: #BC338B;
    background: #F5F8FA;
    font-size: 14px;
    text-align: center;
    line-height: 40px; }
  #regbox #regbox_bd {
    width: 360px;
    height: 398px;
    margin: 0 39px;
    padding: 25px 0 0; }
    #regbox #regbox_bd .jianGe {
      height: 24px;
      line-height: 24px; }
    #regbox #regbox_bd .jianGe2 {
      height: 12px;
      line-height: 12px; }
    #regbox #regbox_bd #user, #regbox #regbox_bd #psw, #regbox #regbox_bd #repsw, #regbox #regbox_bd #yaoqingma, #regbox #regbox_bd #register {
      display: block;
      width: 360px;
      height: 36px;
      line-height: 36px;
      border: 1px solid #c6c6c6;
      padding: 0 0 0 10px;
      color: #999; }
    #regbox #regbox_bd #codebox {
      width: 360px;
      height: 36px; }
    #regbox #regbox_bd #code {
      display: block;
      width: 188px;
      height: 36px;
      line-height: 36px;
      border: 1px solid #c6c6c6;
      padding: 0 0 0 10px;
      color: #999; }
    #regbox #regbox_bd #btncode {
      display: block;
      width: 160px;
      height: 36px;
      line-height: 36px;
      border: 1px solid #c6c6c6;
      margin-left: 10px;
      color: #000000; }
    #regbox #regbox_bd #agree {
      font-size: 14px;
      margin-left: 10px; }
    #regbox #regbox_bd #xieyi {
      margin-top: 20px; }
      #regbox #regbox_bd #xieyi a {
        font-size: 14px; }
    #regbox #regbox_bd #register {
      margin-top: 20px;
      background: #BC338B;
      color: #FFFFFF; }

.commom-sprite, .commom-icon1, .commom-icon10, .commom-icon10s, .commom-icon2, .commom-icon3, .commom-icon4, .commom-icon5, .commom-icon7, .commom-icon9 {
  background-image: url("../img/sprites/commom-s50680dba8f.png");
  background-repeat: no-repeat; }

.commom-icon1 {
  background-position: 0 -21px;
  height: 5px;
  width: 9px; }

.commom-icon10 {
  background-position: 0 -73px;
  height: 14px;
  width: 21px; }

.commom-icon10s {
  background-position: 0 -59px;
  height: 14px;
  width: 21px; }

.commom-icon2 {
  background-position: 0 -9px;
  height: 5px;
  width: 9px; }

.commom-icon3 {
  background-position: 0 -33px;
  height: 13px;
  width: 13px; }

.commom-icon4 {
  background-position: 0 -46px;
  height: 13px;
  width: 13px; }

.commom-icon5 {
  background-position: 0 0;
  height: 9px;
  width: 10px; }

.commom-icon5:hover, .commom-icon5.icon5-hover {
  background-position: -10px 0; }

.commom-icon7 {
  background-position: -9px -21px;
  height: 12px;
  width: 12px; }

.commom-icon7:hover, .commom-icon7.icon7-hover {
  background-position: -9px -9px; }

.commom-icon9 {
  background-position: 0 -87px;
  height: 14px;
  width: 21px; }

/*# sourceMappingURL=reg.css.map */
